$color-primary-0: #169F2E;	// Main Primary color */
$color-primary-1: #40D95B;
$color-primary-2: #2ABF44;
$color-primary-3: #0F7321;
$color-primary-4: #053F0F;

$color-secondary-1-0: #D0C51C;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF44B;
$color-secondary-1-2: #F9ED37;
$color-secondary-1-3: #978F14;
$color-secondary-1-4: #534E07;

$color-secondary-2-0: #282692;	// Main Secondary color (2) */
$color-secondary-2-1: #5552CE;
$color-secondary-2-2: #3D3AAE;
$color-secondary-2-3: #1D1B69;
$color-secondary-2-4: #0D0D3A;

/* Background-related colors */
$website-background-color: #fff;
$sidemenu-background-color: #fff;
$header-background-color: #000;
$box-shadow-color: #ccc;

/* Title-related colors */
$header-link-color: #fff;
$primary-title-color: #222;
$secondary-title-color: #595959;

/* Textual elements -related colors */
$primary-text-color: #595959;
$secondary-text-color: #999;

/* Accent color */
$accent-color: #ff8237;
